/*
	File: css/game.css
	Created: 8/25/2018 at 1:54PM Eastern Time
	Info: Random game CSS
	Author: TheMasterGeneral
	Website: https://github.com/MasterGeneral156/chivalry-engine/
*/
body {
	margin-top: 50px;
  }